<div class="history-container">
  <div class="history-box">
    <h1>{{ tickerSymbol | uppercase }}</h1>
    <p>Price history for last thirty business days</p>
    <div class="history-wrapper">
      <div *ngFor="let hist of stockHistory" class="history-day">
        <p class="historydate">{{ hist.date }}</p>
        <p class="historydatum">Open: {{ hist.open | number:'1.2-2' }}
        <br/>High: {{ hist.high | number:'1.2-2' }}
        <br/>Low: {{ hist.low | number:'1.2-2' }}
        <br/>Close: {{ hist.close | number:'1.2-2' }}</p>
      </div>
    </div>
    <button (click)="goBack()">Back</button>
  </div>
</div>
