/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-image: url("assets/chicago-grey.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-size: cover;
  font-family: Verdana, Trebuchet, sans-serif;
}

header {
  overflow: hidden;
  background-color: firebrick;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 120px;
  font-family: Verdana, Trebuchet, sans-serif;
}

header h1 {
  color: #dddddd;
}

main {
  margin-top: 100px;
}

.wrapper {
  margin: 10px 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cardstock {
  background-color: white;
  padding: 10px;
  border: 8px solid gray;
  border-radius: 8px;
}

.cardstock a {
  color: firebrick;
  text-decoration: none;
}

.cardstock a:hover {
  color: #d95555;
  text-decoration: underline;
}

.addstock {
  background-color: #dddddd;
  padding: 10px;
  border: 8px solid gray;
  border-radius: 8px;
}

.lastup {
  font-size: 70%;
}

.history-container {
  text-align: center;
}

.history-box {
  background-color: white;
  width: 690px;
  margin: 30px auto;
  text-align: left;
  padding: 20px;
  border: 8px solid gray;
  border-radius: 8px;
}

.history-box h1 {
  color: firebrick;
}

.history-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.history-day {
  border-top: 2px solid gray;
  font-size: 85%;
}


